<div class="container navbar-margin">
  <% @audios.each do |audio| %>
    <div class="card-audio">
      <% if audio.spotify_uri != nil %>
        <% split_uri = audio.spotify_uri.split(':') %>
        <% spotify_uri_type = split_uri.second %>
        <% spotify_uri_id = split_uri.last %>
        <% complete_url = "https://open.spotify.com/embed/#{spotify_uri_type}/#{spotify_uri_id}" %>
        <% if spotify_uri_type == 'track' %>
          <iframe src=<%= complete_url %> width="100%" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
        <% elsif spotify_uri_type == 'episode' %>
          <iframe src=<%= complete_url %> width="100%" height="232" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
        <% end %>
      <% end %>
      <div class="card-audio-infos">
        <div class="card-audio-description">
          <div>
            <h5><strong><%= audio.title %></strong></h5>
            <p><%= audio.description %></p>
          </div>
        </div>
        <div class= "card-audio-infos-extra">
          <%= image_tag "https://kitt.lewagon.com/placeholder/users/#{audio.user.username}", class:'card-audio-avatar' %>
          <div class="card-audio-likes">
            <span><%= link_to ('<i class="fas fa-heart"></i>').html_safe, content_likes_path(audio), method: "post" %></span>
            <span><%= audio.likes.count  %></span>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <%= link_to site_path(@site), class: 'button' do %>
    <i class="fas fa-chevron-left back-btn"></i>
  <% end %>
</div>
