<div class="container navbar-margin">
<h1>Content Show Page</h1>
<h2><%= @content.title %></h2>

<h3>
<%= pluralize @content.reviews.size, "Review" %>
</h3>

<div id="reviews">
  <% if @content.reviews.blank? %>
    Be the first to leave a review for <%= @content.title %>
  <% else %>
    <% @content.reviews.each do |review| %>
      <p><%= review.content %></p>
    <% end %>
  <% end %>
</div>

<%= link_to "add a review", new_content_review_path(@content) %>
<ul>
  <% @contents.each do |content| %>
    <li><%= link_to content.title,  new_content_review_path(content) %></li>
  <% end %>
</ul>

<%= simple_form_for([@content, @review]) do |f| %>
  <%= f.input :content %>
  <%= f.button :submit %>
<% end %>
</div>
