<div class="container navbar-margin">
  <div class="row justify-content-center">
    <div class="col-sm-6 col-xs-4">
      <h1 class="book-icon"><i class="fas fa-book-open"></i></h1>
      <% @articles.each do |article| %>
          <div class="card-article">
          <%= link_to site_article_path(article.site, article) do %>
            <%= cl_image_tag @site.photos.first.key, height: '100px', width: '120px' %>
          <% end %>
            <div class="card-article-infos">
              <h5><strong><%= article.title %></strong></h5>
              <div class="card-article-icons">
                <%= image_tag "https://kitt.lewagon.com/placeholder/users/#{article.user.username}", class:'card-article-avatar'%>
                <div class="card-article-likes">
                  <span><%#= link_to ('<i class="fas fa-heart"></i>').html_safe, content_likes_path(article), method: "post" %></span>
                  <span><%#= article.likes.count  %></span>
                </div>
              </div>
            </div>
          </div>
      <% end %>
      <%= link_to site_path(@site), class: 'button' do %>
        <i class="fas fa-chevron-left back-btn"></i>
      <% end %>
    </div>
  </div>
</div>

