<div class="container navbar-margin">
  <% @articles.each do |article| %>
    <%= link_to site_article_path(@site, article) do %>
      <div class="card-product">
        <i class="fas fa-book-open"></i>
        <div class="card-product-infos">
          <%= article.title %>
        </div>
      </div>
    <% end %>
  <%= link_to ('<i class="fas fa-heart"></i>').html_safe, content_likes_path(article), method: "post" %>
  <span><%= article.likes.count  %></span>
  <% end %>
  <%= link_to site_path(@site), class: 'button' do %>
    <i class="fas fa-chevron-left back-btn"></i>
  <% end %>
</div>

