<div class="container">
  <%= cl_image_tag @site.photos.first.key, height: 200, width: 300  %>
  <h1><%= @article.title %></h1>
  <p><strong><%= @article.description %></strong></p>
  <p><%= @article.body %></p>
  <p><strong>Contributor:</strong> -<%= @article.user.username %></p>
  <%= link_to "See reviews", content_reviews_path(@article)  %>
  <p><%= link_to 'Back', site_articles_path(@site) %></p>
</div>
