<div class="container navbar-margin">
  <div class="row justify-content-center">
    <div class="col-sm-6">
      <div id="js-conversations">
        <% @conversations.each do |conversation| %>
          <div class="card-conversation">
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/#{conversation.find_other_participant(current_user).username}", class: "conv-avatar" %>
            <div class="card-conversation-infos">
              <%= link_to conversation_path(conversation) do %>
                <%= conversation.find_other_participant(current_user).username %>
              <% end %>
            </div>
          </div>
        <% end %>
        <div>
          <h3>-</h3>
          <% @nearby_users.each do |user| %>
            <% if user != current_user %>
              <% if !user.conversations.present? %>
                <div class="card-conversation">
                  <%= image_tag "https://kitt.lewagon.com/placeholder/users/#{user.username}", class: "conv-avatar" %>
                  <div class="card-conversation-infos">
                    <%= link_to user_conversations_path(user), method: :post do %>
                      <%= user.username %>
                    <% end %>
                  </div>
                </div>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
