<div class="container conversation-margin conversation-show">
  <div>
    <div class="conv-info">
      <p><i class="far fa-comments"></i>
      <span><%= @conversation.participants.second.user.username %><span></p>
    </div>
      <div id="messages" data-conversation-id="<%= @conversation.id %>">
        <% @conversation.messages.each do |message| %>
          <%= render "messages/message", message: message %>
        <% end %>
      </div>
    <%= simple_form_for [ @conversation, @message ], remote: true do |f| %>
      <%= f.input :content, label: false, placeholder: "Message" %>
    <% end %>
  </div>
</div>
