<div class="container">
  <% @videos.each do |video| %>
    <div class="card-video">
        <div class="card-video-infos my-5">
          <% if video.url != nil %>
            <% match_data = video.url.match(/.*\/(.*)/) %>
            <% source_url = "https://www.youtube.com/embed/#{match_data[1]}" %>
            <iframe src=<%= source_url %> height="300" width="400" frameborder="0" allowfullscreen mozallowfullscreen></iframe>
          <% end %>
          <div>
            <p><strong><%= video.title%></strong></p>
            <p><%= video.description %></p>
            <p><strong>Contributor:</strong> -<%= video.user.username %></p>
          </div>
        </div>
        <%= link_to ('<i class="fas fa-heart"></i>').html_safe, content_likes_path(video), method: "post" %>
        <span><%= video.likes.count  %></span>
          <p><%= link_to "See reviews", content_reviews_path(video)  %></p>
    </div>
  <% end %>
  <%= link_to 'Back', site_path(@site) %>
</div>

