<div class="container">
  <h2>My Settings</h2>
  <table>
    <thead>
        <tr>
          <th colspan="2">Current Settings</th>
        </tr>
    </thead>
    <tbody>
      <tr>
        <td>Username</td>
        <td><%= @user.username %></td>
      </tr>
      <tr>
        <td>Full Name</td>
        <td><%= @user.full_name %></td>
      </tr>
      <tr>
        <td>Age</td>
        <td><%= @user.age %></td>
      </tr>
      <tr>
        <td>Location</td>
        <td><%= @user.location %></td>
      </tr>
      <tr>
        <td>Range of near me filter</td>
        <td><%= "#{@user.range} km" %></td>
      </tr>
      <tr>
        <td>Share your location?</td>
        <% if @user.locatable %>
          <td>Yes</td>
        <% else %>
          <td>No</td>
        <% end %>
      </tr>
    </tbody>
  </table>
  <table>
  <p><strong>Edit Settings</strong></p>
  <%= simple_form_for(@user) do |f| %>
    <%= f.input :username %>
    <%= f.input :full_name %>
    <%= f.input :age %>
    <%= f.input :location  %>
    <%= f.input :range %>
    <%= f.input :locatable, input_html: { class: 'custom-control-input' }, label_html: { class: 'custom-control-label' }, wrapper_html: { class: 'custom-control custom-switch' }  %>
    <%= f.submit "Edit" ,class: "btn btn-success" %>
  <% end %>
</div>
