  <div class="loader d-none">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
  <div id="map"
    style="width: 100%; height: 100vh;"
    data-markers="<%= @site_markers.to_json %>"
    data-usermarkers="<%= @user_markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
  <button type="button" class="btn-orange filter-modal" data-toggle="modal" data-target="#exampleModal">
    Filter
  </button>
  <div>
  <%= link_to  "Nearby sites", sites_path, class: 'btn-orange nearby-btn' %>
  </div>
  <div>
    <% if user_signed_in? %>
      <%= link_to "Search by address", root_path(location: true), class: "btn-green address-btn" %>
      <a class="btn-green geo-btn" id="js-geolocate-btn" >Search by location</a>
    <% end %>
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Filter by Category</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= render "filter_by_category" %>
      </div>
    </div>
  </div>

