<div class="container mt-3">
  <h1> My Uploads</h1>
  <%= link_to "Add a new article", new_article_path, class: 'btn btn-primary'  %>
  <%= link_to "Add new photos", '#', class: 'btn btn-primary'  %>
  <%= link_to "Add new audio", '#', class: 'btn btn-primary'  %>
  <%= link_to "Add a new video", '#', class: 'btn btn-primary'  %>
  <% @my_uploads.each do |content| %>
    <div class="card-uploads">
      <%= image_tag "https://source.unsplash.com/random" %>
      <div class="card-uploads-infos">
        <h2><%= "#{content.title}" %></h2>
        <p><%= "Description: #{content.description}" %></p> 
        <p><%= "Category: #{content.type}" %></p>
      </div>
    </div>
  <% end %>
</div>  