<div class="container mt-3">
  <h1> My Uploads</h1>
  <%= link_to "Add a new article", new_article_path, class: 'btn btn-primary'  %>
  <%= link_to "Add new photos", new_photo_path, class: 'btn btn-primary'  %>
  <%= link_to "Add new audio", '#', class: 'btn btn-primary'  %>
  <%= link_to "Add a new video", new_video_path, class: 'btn btn-primary'  %>
  <% @my_uploads.each do |content| %>
    <% if content.type == 'Article' %>
     <%= link_to site_article_path(content.site, content) do %>
        <div class="card-uploads">
          <%= image_tag "https://source.unsplash.com/random" %>
          <div class="card-uploads-infos">
            <h2><%= "#{content.title}" %></h2>
            <p><%= "Description:#{content.description}" %></p> 
            <p><%= "Type: #{content.type}" %></p>
          </div>
          <%= link_to "X", article_path(content), method: :delete, data: {confirm: "Are you sure?"} %>
        </div>
      <% end %>
    <% elsif content.type == 'Photo' %>
      <%= link_to site_photos_path(content.site) do %>
        <div class="card-uploads">
          <%= image_tag "https://source.unsplash.com/random" %>
          <div class="card-uploads-infos">
            <h2><%= "#{content.title}" %></h2>
            <p><%= "Description:#{content.description}" %></p> 
            <p><%= "Type: #{content.type}" %></p>
          </div>
          <%= link_to "X", photo_path(content), method: :delete, data: {confirm: "Are you sure?"} %>
        </div>
      <% end %>
    <% elsif content.type == 'Audio' %>
      <div class="card-uploads">
        <%= image_tag "https://source.unsplash.com/random" %>
        <div class="card-uploads-infos">
          <h2><%= "#{content.title}" %></h2>
          <p><%= "Description:#{content.description}" %></p> 
          <p><%= "Type: #{content.type}" %></p>
        </div>
        <%= link_to "X", audio_path(content), method: :delete, data: {confirm: "Are you sure?"} %>
      </div>
    <% elsif content.type == 'Video' %>
      <div class="card-uploads">
        <%= image_tag "https://source.unsplash.com/random" %>
        <div class="card-uploads-infos">
          <h2><%= "#{content.title}" %></h2>
          <p><%= "Description:#{content.description}" %></p> 
          <p><%= "Type: #{content.type}" %></p>
        </div>
        <%= link_to "X", video_path(content), method: :delete, data: {confirm: "Are you sure?"} %>
      </div>
    <% end %>
  <% end %>
</div>  