<div class="container navbar-margin">
  <div class="row justify-content-center">
    <div class="col-sm-6">
      <div class="photo-info m-2">
        <h4><i class="fas fa-camera-retro"></i></h4>
      </div>
      <% if @photos.empty? %>
        <h2>
          <% flash.alert = "This site does not have any uploaded photos yet... Be the first to contribute by adding photos in 'My Uploads'" %>
        </h2>
      <% else %>
        <h4 class="photo-info"><%= @photos.first.site.name %></h4>
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <%= cl_image_tag @photos.first.photos.first.key, height: 300, width: 350, crop: :fill %>
              <div class="carousel-likes">
                <%= link_to ('<i class="fas fa-heart"></i>').html_safe, content_likes_path(@photos.first), method: "post" %>
                <span><%= @photos.first.likes.count %></span>
              </div>
            </div>
            <% @photos.to_a.slice(1, @photos.length).each do |photo| %>
              <div class="carousel-item">
                <%= cl_image_tag photo.photos.first.key, height: 300, width: 350, crop: :fill %>
                <div class="carousel-likes">
                  <%= link_to ('<i class="fas fa-heart"></i>').html_safe, content_likes_path(photo), method: "post" %>
                  <span><%= photo.likes.count %></span>
                </div>
              </div>
            <% end %>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
        <div class="photo-bottom-info m-2">
          <h4>Category:</h4>
          <span><%= @photos.first.site.category %></span>
        </div>
      <% end %>
      <%= link_to site_path(@site), class: 'button' do %>
        <i class="fas fa-chevron-left back-btn"></i>
      <% end %>
    </div>
  </div>
</div>
