<div class="container">
  <div>
    <h1>Galata</h1>
      <div class="sites-container">
      <ul>
        <% @sites.each do |site| %>
          <li>
            <%= link_to site_path(site) do %>
            <h4><%= site.name %></h4>
            <% end %>
            <p><i><%= site.address %></i></p>
            <p><%= site.description %></p>
            <% site.photos.each do |photo| %>
              <%= cl_image_tag photo.key, height: 200, width: 300 %>
            <% end %>
          </li>
        <% end %>
      </ul>
      </div>
  </div>
</div>
