<div class="container my-3">
  <%= link_to 'Show Map', root_path, class: 'btn-green' %>
    <% @sites.each do |site| %>
      <div class="card-site-container">
        <%= cl_image_tag site.photos.first.key, height: 100, width: '100%' %>
        <div class="card-site-infos">
          <div>
            <h4><%= site.name %></h4>
            <p><%= site.description %></p>
          </div>
          <div class= "card-site-icons">
            <span>
              <%= site.contents.where(type: "Article").count %> 
              <i class="fas fa-book-open"></i>
            </span>
              <%= site.contents.where(type: "Photo").count %> 
              <i class="fas fa-images"></i>
            </span>
            <span>
              <%= site.contents.where(type: "Audio").count %>
              <i class="fas fa-headphones"></i>
            </span>
            <span>
              <%= site.contents.where(type: "Video").count %>
              <i class="fab fa-youtube"></i>
            </span>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
