<div class="banner">
  <%= cl_image_tag @site.photos.first.key, height: 260, width: '100%' %>
<div>
<div class="row justify-content-center">
  <div class="col-sm-12 col-md-10"">
    <div class="site-info">
      <h3 class="my-2"><%= @site.name %></h3>
      <p class="description"><%= @site.description %></p>
      <div class="content-cards">
        <%= link_to site_videos_path(@site) do   %>
        <div class="category-card rounded justify-content-center">
          <h1><i class="fas fa-play-circle content-icon"></i></h1>
        </div>
        <% end %>
        <%= link_to site_audios_path(@site) do   %>
        <div class="category-card rounded justify-content-center">
          <h1><i class="fas fa-headphones content-icon"></i></h1>
        </div>
        <% end %>
        <%= link_to site_articles_path(@site) do   %>
        <div class="category-card rounded justify-content-center">
          <h1><i class="fas fa-book-open content-icon"></i></h1>
        </div>
        <% end %>
        <%= link_to site_photos_path(@site) do   %>
        <div class="category-card rounded justify-content-center">
          <h1><i class="fas fa-images content-icon"></i></h1>
        </div>
        <% end %>
      </div>
      <div>
      <%= link_to sites_path, class: 'button' do %>
        <i class="fas fa-chevron-left back-btn"></i>
      <% end %>
      </div>
    </div>

    <div class="wrapper">
      <div class="cols">
          <div class="col" ontouchstart="this.classList.toggle('hover');">
            <div class="container">
              <div class="front">
                <div class="inner">
                  <%= link_to site_videos_path(@site) do   %>
                    <div class="">
                      <h1><i class="fas fa-play-circle content-icon"></i></h1>
                    </div>
                  <% end %>
                </div>
              </div>
              <div class="back">
                <div class="inner">
                  <%= link_to site_videos_path(@site) do   %>
                    <div class="">
                      <h1><i class="fas fa-play-circle content-icon"></i></h1>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
          <div class="col" ontouchstart="this.classList.toggle('hover');">
            <div class="container">
              <div class="front" style="background-image: url(http://admin.agos.com.tr/Upload/Agos/Images/ayasofya%20mozaikler.jpg)">
                <div class="inner">
                  <p>Reflupper</p>
                  <span>Lorem ipsum</span>
                </div>
              </div>
              <div class="back">
                <div class="inner">
                  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit quae suscipit c.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col" ontouchstart="this.classList.toggle('hover');">
            <div class="container">
              <div class="front" style="background-image: url(http://admin.agos.com.tr/Upload/Agos/Images/ayasofya%20mozaikler.jpg)">
                <div class="inner">
                  <p>Acirassi</p>
                  <span>Lorem ipsum</span>
                </div>
              </div>
              <div class="back">
                <div class="inner">
                  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit quae suscipit c.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col" ontouchstart="this.classList.toggle('hover');">
            <div class="container">
              <div class="front" style="background-image: url(http://admin.agos.com.tr/Upload/Agos/Images/ayasofya%20mozaikler.jpg)">
                <div class="inner">
                  <p>Sohanidd</p>
                  <span>Lorem ipsum</span>
                </div>
              </div>
              <div class="back">
                <div class="inner">
                  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit quae suscipit c.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
     </div>

  </div>
</div>
</div>
